.text-imagen {
    background-color:#383b46;
    height: 480px;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    padding-top: 50px;
    padding-left:70px;
    box-shadow: inset -88px -20px 76px -3px rgba(0,0,0,0.75);
}
.text-imagen> .text{
    text-align:left
    
}
.text-imagen> .text> .parrafo-1{
    font-family: 'Lato', sans-serif;
    font-size: 2.5rem;
    color: white;
    padding-top: 15px;
}

.text-imagen> .text> .parrafo-1 p{
    margin: 0px;
}

.text-imagen> .text> .parrafo-2{
    font-family: 'Lato', sans-serif;
    font-size: 1.90rem;
    font-weight: 500;
    color: white;
    
}



.text-imagen> .text> .sign-learn{
    display: flex; 
    
}
        

.text-imagen> .text> .sign-learn> .sign a{
    display: flex;
    align-items: center;
    padding: 12px 22px ;
    background-color: #4bce79;
    color: black;
    margin-right: 20px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}
.text-imagen> .text> .sign-learn> .learn a{
    display: flex;
    align-items: center;
    padding: 12px 30px ;
    background-color: rgb(6, 6, 6);
    color: white;
    border-radius: 3px;
    text-decoration: none;
    font-size: 2rem;
}
 
.text-imagen> .imagen h1{
    color: white;
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: medium;
}
.text-imagen> .imagen span{
    color: #75d4de;
    margin-bottom: 2px;
    margin-left: 0px;
    font-size: medium;
}

.text-imagen> .imagen img{
    width: 100%;
    height: 435px;
    object-position: right;
    border-bottom: 1px black;
    box-shadow: -88px -16px 158px -41px rgba(0,0,0,0.75);
}
